
<h3><%= act %> Article
  &nbsp;&nbsp;&nbsp;<small style='color:red'><%= flash[:blank_field]%></small>
</h3>

<% if @topic.errors.any? %>
  <%= @topic.errors.full_messages.join(", ") %>
<% end %>

<br><br>
<table class='table table-bordered'>
  <tr>
    <td class='col-md-3 text-right'>
      <%= t.label :title, 'Title' %>
    </td>
    <td>
      <%= t.text_field :title %>
    </td>
  </tr>
  <tr>
    <td class='col-md-3 text-right'>
      <%= t.label :content, 'Content' %>
    </td>
    <td>
      <%= t.text_area :content, :class => 'ta' %>
    </td>
  </tr>
  <tr>
    <td class='col-md-3 text-right'>
      <%= t.label :catagory, 'Category' %>
    </td>
    <td>
     <%= t.collection_check_boxes(:group_ids, Group.all,:id,:catagory) %>
      
    </td>
  </tr>
</table>





