<h2>Forum</h2>
<%= link_to 'New Topic', new_topic_path, :class => "btn btn-default" %>
<div class='text-right'>
  Sort By
  <%= link_to 'Most Replies', topics_path( topics_filter_conditions(params, :order => 'most') ) %> |
  <%= link_to 'Newest Reply', topics_path( topics_filter_conditions(params, :order => 'newest') )%>
</div>
<table class='table table-hover'>
  <tr class='info'>
    <th>Topic</th>
    <th>Reply</th> 
    <th>Group</th> 
    <th>User</th>
    <th>Operation</th>
    <th>Time</th>
  </tr>
  <% @topics.each do |t| %>
    <tr>
      <td><%= link_to t.title, topic_path(t)%></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= t.replies.count%></td>
      <td>
        <% t.groups.each do |g|%>
          <%= link_to g.catagory, topics_path( topics_filter_conditions(params, :gid => g.id) )%>
        <%end%>
      </td>
      <td><%= link_to t.user.try(:email), topic_path(t)%></td>
      <td>
        <%= link_to '>>', topic_path(t), :class => 'btn btn-primary' %>
        <%= link_to 'EDIT', edit_topic_path(t), :class => 'btn btn-warning' %> 
        <%= link_to 'DELETE', topic_path(t), :method => 'delete', :class => 'btn btn-danger' %> 
      </td>
      <td><%= t.updated_at %></td>
    </tr>
  <% end %>
</table>
<div class="text-center" colspan="5"><%= paginate @topics %></div>





