<h2><%= @topic.title %></h2>
<br>
<br>

<div class='tc'>
  <%= @topic.content %>
</div>
<br>
<br>
<br>
<h2 class="text-left">Comment</h2>
<div>
  <%= @topic.replies.count %>
  <% if @topic.replies.count < 2%>
    comment
  <% else %>
    comments
  <% end %>
</div>
<%= form_for Reply.new, :url => topic_replies_path(@topic) do |r| %>
<table class='table table-bordered'>
  <% @topic.replies.each do |r| %>
    <tr>
      <td class='text-right'><%= r.user.email %>表示</td>
      <td class='text-left'><div class='ta'><%= r.content %></div></td>
    </tr>
  <% end %>  
  <tr class='active'>
    <td class='col-md-3 text-right'><%= r.label :content, 'Comment'%></td>
    <td><%= r.text_area :content, :class => 'ta' %></td>
  </tr>
</table>
  <div class='text-center'>
    <%= r.submit 'Submit', :class => 'btn btn-default' %>
    <%= link_to 'Back', topics_path, :class => "btn btn-default" %>
  </div>
<%end%>
<br>
<br>
<br>