<!DOCTYPE html>
<html>
<head>
  <title>Betaforum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header"></div>
  <div class='jumbotron'>
    <div class='user_info'>
      <% if current_user %>
        <div>Hi, <%= current_user.email %></div>
        <%= link_to('登出', destroy_user_session_path,:method => :delete)%> |
        <%= link_to('修改密碼', edit_registration_path(:user)) %>
      <% else %>
        <%= link_to('註冊', new_registration_path(:user)) %> |
        <%= link_to('登入', new_session_path(:user)) %>
        <%= flash[:notice] %>
      <% end %>
    </div>
    <h1><%= link_to 'BetaForum', topics_path %></h1>
    <nav>
    <ul>
        <li class=<%= current_posi(topics_path) %>><%= current_link_to "Forum", topics_path %></li>
        <li class=<%= current_posi(about_path) %>><%= current_link_to 'About', about_path %></li>
        <% if current_user %>
        <li class=<%= current_posi(user_path(current_user)) %>><%=current_link_to 'Profile', user_path(current_user) %></li>
        <% end %>
      </ul>
    </nav>
  </div>
<%= yield %>

</body>
</html>
